.wrapper {
  width: 20rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  z-index: 2222222222222222222;
  position: fixed;
  right: 8rem;
  top: 2rem;
}

.search-bar {
  width: 15rem;
}

.bar {
  background-color: rgb(14, 13, 13);
  border: none;
  color: white;
  height: 2.5rem;
  line-height: 2.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.search-btn {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding-left: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;

  margin-right: 0.5rem;
  cursor: pointer;
  text-align: center;
}
.search-btn:hover {
  background-color: rgba(26, 26, 26, 0);
}

.search-btn:active {
  background-color: rgb(7, 7, 7);
}
